.group {
    width: 300px;
    cursor: pointer;
}

.card {
    width: 300px;
    cursor: pointer;
}

.apploader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    opacity: 0.6;
    background: white;
}
